#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define MOUSE 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&mt ESCAPE Q      &lt 4 SPACE   &kp U         &kp L      &kp J                                        &kp F          &kp W  &lt 0 R  &lt 4 Y  &lt 3 P
&kp E             &kp I         &kp A         &kp O      &kp COMMA   &trans      &mt UNDER MINUS      &kp K          &kp T  &kp N    &kp S    &kp H
&mt LCTRL SLASH   &kp Z         &kp C         &kp V      &kp PERIOD  &kp INT5    &mt APOSTROPHE INT4  &kp G          &kp D  &kp M    &kp Z    &kp B
&mt LSHFT DELETE  &kp LEFT_WIN  &kp LEFT_ALT  &lt 4 TAB  &mkp MB1    &mkp MB2    &kp ENTER            &kp BACKSPACE                           &mt RIGHT_CONTROL X
            >;

            sensor-bindings =
                <&scroll_up_down>,
                <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        keisan {
            bindings = <
&kp K_UNDO  &kp K_CUT  &kp K_COPY  &kp K_PASTE  &kp PRINTSCREEN                              &mt F7 NUMBER_7  &mt F8 NUMBER_8  &mt F9 NUMBER_9  &kp BACKSPACE   &kp DELETE
&trans      &trans     &trans      &trans       &trans           &trans    &kp PERIOD        &mt F4 NUMBER_4  &mt F5 NUMBER_5  &mt F6 NUMBER_6  &mt ASTRK STAR  &kp SLASH
&trans      &trans     &trans      &trans       &kp F12          &to 2     &mt F10 NUMBER_0  &mt F1 NUMBER_1  &mt F2 NUMBER_2  &mt F3 NUMBER_3  &kp PLUS        &kp MINUS
&trans      &trans     &trans      &trans       &trans           &trans    &trans            &trans                                                             &kp EQUAL
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        maus {
            bindings = <
&kp LEFT_SHIFT    &kp LC(LS(PRINTSCREEN))  &kp K_COPY      &kp UP_ARROW          &trans                             &trans     &trans     &mkp MCLK   &mkp MB4       &trans
&kp LEFT_CONTROL  &kp S                    &kp LEFT_ARROW  &kp DOWN_ARROW        &kp RIGHT_ARROW  &trans    &trans  &mkp LCLK  &mkp RCLK  &mkp LCLK   &mkp RCLK      &trans
&kp LEFT_SHIFT    &kp LG(LS(LEFT_ARROW))   &kp LEFT_GUI    &kp LG(LS(LEFT_GUI))  &kp RIGHT_GUI    &to 0     &trans  &trans     &trans     &kp K_BACK  &kp K_FORWARD  &trans
&trans            &trans                   &trans          &trans                &trans           &trans    &trans  &trans                                           &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        bt {
            bindings = <
&bt BT_CLR_ALL  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3                         &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans          &trans        &trans        &trans        &trans        &trans    &trans       &trans        &trans        &trans        &trans        &trans
&trans          &trans        &trans        &trans        &trans        &trans    &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans          &trans        &trans        &trans        &trans        &trans    &trans       &trans                                                  &bt BT_CLR_ALL
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        num+yazi+kigou {
            bindings = <
&kp NUMBER_1   &mt F2 NUMBER_2   &kp NUMBER_3   &kp NUMBER_4       &kp NUMBER_5                                          &kp NUMBER_6      &kp NUMBER_7     &kp NUMBER_8     &kp NUMBER_9  &kp NUMBER_0
&kp LS(N8)     &kp LS(N9)        &kp UP_ARROW   &kp RIGHT_BRACKET  &kp RBRC          &trans           &kp RS(COLON)      &kp LEFT_BRACKET  &kp NUMBER_4     &kp N5           &kp NUMBER_6  &mt LS(ASTERISK) RS(COLON)
&kp AT         &kp LEFT          &kp DOWN       &kp RIGHT          &kp LS(NUMBER_1)  &kp LS(SLASH)    &kp LG(RIGHT_WIN)  &kp PERIOD        &mt F1 NUMBER_1  &mt F2 NUMBER_2  &kp NUMBER_3  &mt SLASH MINUS
&kp LESS_THAN  &kp GREATER_THAN  &kp SEMICOLON  &trans             &trans            &trans           &trans             &trans                                                            &kp LS(MINUS)
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        layer_7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans    &trans                        &trans  &trans    &trans    &trans    &mkp MB5
&trans  &trans  &trans  &trans    &trans    &trans      &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2  &mkp MB4
&trans  &trans  &trans  &trans    &trans    &trans      &trans  &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &mkp MB4  &mkp MB1  &mkp MB2    &trans  &trans                                &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };
    };
};
